@import "../../styles/variables.scss";

section.galeria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
}

.galeria__container {
    width: 100%;
    max-width: 1800px;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 1rem;

    > * {
        flex-grow: 1;
        flex: calc(33.3% - 1rem);
            max-width: 33.3%;
    }
}

.galeria .title {
    text-align: center;
    color: $white;
    font-size: calc(1.3em + 1vw);
    margin-block: 1rem;

    :first-child {
        margin-bottom: 0.25rem;
        letter-spacing: 5px;
        font-weight: 600;
        text-transform: uppercase;
    }

    :last-child {
        font-weight: 200;
        color: $text-secundary;
    }
}


@include media($medium-screen) {
    .galeria__container {
        
        > * {
            flex: calc(50% - 1rem);
            max-width: 50%;
        }
    }
}

@include media($small-screen) {
    .galeria__container {
        flex-direction: column;
        > * {
            flex: 1;
            max-width: 100%;
        }
    }
}
